<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="form">
    <form class="signup_container" th:action="@{/signupForm}" method="post" th:object="${memberDTO}">
        <div>
            <label for="userId">ID : </label>
        </div>
            <input id="userId" type="text" th:field="*{userId}">

        <div>
            <label for="password">PASSWORD : </label>
        </div>
            <input id="password" type="password" th:field="*{password}">

        <div>
            <label for="name">NAME : </label>
        </div>
            <input id="name" type="text" th:field="*{name}">
        <br>
        <button type="submit">SIGN UP</button>
    </form>
</div>
</body>
</html>